{% set catch_cache = content|render %}
{% if paragraph.field_heading_size.value %}
	{% set heading = paragraph.field_heading_size.value %}
{% else %}
	{% set heading = "h2" %}
{% endif %}
{% extends 'paragraph.html.twig' %}
{% block content %}
	<div class="base__accordions">
		{% if content.field_title.0 %}
			<{{heading}}>{{ content.field_title.0 }}</{{heading}}>
		{% endif %}

		{% if content.field_rich_text.0 %}
			<div class="body-text">{{ content.field_rich_text }}</div>
		{% endif %}
		{{content.field_items}}
	</div>
{% endblock %}
