{% set catch_cache = content|render %}
{% set bg = paragraph.field_background_color.value %}
{% if content.field_image.0 %}
	{% set img = " has-img" %}
{% else %}
	{% set img = " no-img" %}
{% endif %}
{% if paragraph.field_center.value %}
	{% set alignment = " center" %}
{% endif %}
{% set class = alignment ~ img %}
{% if paragraph.field_heading_size.value %}
	{% set heading = paragraph.field_heading_size.value %}
{% else %}
	{% set heading = "h2" %}
{% endif %}
{% extends 'paragraph.html.twig' %}
{% block content %}
	<div class="base__facts{{class}}">
		<div class="inner">
			<div class="blurb" {% if content.field_image.0 %} style="background:url({{ file_url(paragraph.field_image.entity.field_media_image.entity.fileuri) }}) no-repeat center; background-size:cover;" {% endif %}>

				{% if content.field_title.0 %}
					<{{heading}}>{{ content.field_title.0 }}</{{heading}}>
				{% endif %}
				{% if content.field_plain_text.0 %}
					<p>{{ content.field_plain_text.0 }}</p>
				{% endif %}
				{% if content.field_link.0 %}
					<p>{{ content.field_link }}
					{% endif %}
				</p>
			</div>
			{% if content.field_image.0 %}
				<div class="facts-list {{bg}}">{{ content.field_items }}</div>
			{% else %}
				<div class="grid three {{bg}}">{{ content.field_items }}</div>
			{% endif %}
		</div>
	</div>
{% endblock content %}
