{% set catch_cache = content|render %}
{% if paragraph.field_heading_size.value %}
	{% set heading = paragraph.field_heading_size.value %}
{% else %}
	{% set heading = "h2" %}
{% endif %}
{% extends 'paragraph.html.twig' %}
{% block content %}
	<div class="timeline clearfix">
		{% if content.field_title.0 %}
			<{{heading}}>{{ content.field_title.0 }}</{{heading}}>
		{% endif %}

		{% if content.field_rich_text.0 %}
			<div class="body-text">{{ content.field_rich_text }}</div>
		{% endif %}

		<div class="wrapper">
			<div class="items">
				{{ content.field_items }}
			</div>
			<div class="arrows"  tabindex="0">
				<div class="prev-slide arrow" tab-index="0">
					<i class="icon-arrow-left"></i>
				</div>
				<div class="next-slide arrow" tab-index="0">
					<i class="icon-arrow-right"></i>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
