<article{{attributes.addClass(content_type|clean_class,"search-result")}}>
	<div class="text">
		{% if content.field_related_topics.0 %}
			<div class="type">{{content.field_related_topics.0}}</div>
		{% endif %}
		<div class="date">
			<strong>{{node.getCreatedTime()|date("F j, Y")}}</strong>
		</div>
		<h3>
			<a href="{{ url }}">{{ label }}</a>
		</h3>
		<p>{{ content.field_summary }}</p>
	</div>
</article>
