<article{{ attributes.addClass('product teaser') }}>
  <div class="img">
      <a href="{{url}}" aria-label="View {{label.0}}">{{content.field_featured_image}}</a>
  </div>
  <div class="blurb">
      <div class="type">{{content.field_product_type}}</div>
      <h3>{{ label }}</h3>
      <a href="{{url}}" class="btn secondary">View Details</a>
  </div>
</article>